<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everymeal.server.review.repository.ReviewMapper">
  <select id="findTodayReview">
    SELECT r.idx as 'reviewIdx',
           r.content as 'content'
    FROM reviews r
           JOIN restaurant r2 ON r.restaurant_idx = r2.idx AND r2.idx = #{restaurantIdx}
    WHERE DATE(r.created_at) = DATE(#{offeredAt})
      AND r.is_today_review = 1
      OR r.idx = (
      SELECT rm.review_idx
      FROM review_marks rm
      JOIN reviews r ON rm.review_idx = r.idx
      WHERE DATE(r.created_at) = DATE(#{offeredAt})
      GROUP BY rm.review_idx
      ORDER BY COUNT(rm.review_idx) DESC
      LIMIT 1
      )

  </select>
</mapper>